<section class="game-view">
    <div layout="row" layout-xs="column">
        <div flex class="round-board">
            <h1>Round #{{gameCtrl.roundNumber}}</h1>
            <h3>Player {{gameCtrl.playerName}}</h3>
            <span>Select Move:</span>
            <md-input-container class="moves-list">
                <label>Moves</label>
                <md-select ng-model="gameCtrl.selectedMove">
                    <md-optgroup label="moves">
                        <md-option ng-value="item" ng-repeat="move in gameCtrl.movesList">{{move}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <div flex class="score-board">
            <md-toolbar class="md-theme-light">
                <h3 class="md-toolbar-tools">
                    Score
                </h3>
            </md-toolbar>
            <md-content>
                <md-list>
                    <md-list-item>
                        <div flex class="item subheader">Round</div>
                        <div flex class="item subheader">Winner</div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ng-repeat="winner in gameCtrl.scoreGame">
                        <div flex class="item">
                            <span>{{$index + 1}}</span>
                        </div>
                        <div flex class="item">
                            <span>{{winner}}</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</section>
