.game-view{
    span {
        display: inline-block;
    }
    .round-board{
        span {
            margin-right: 18px;
        }
        .moves-list{
            margin-bottom: 25px;
        }

        .round-button{
            text-align: center;
            margin-top: 15px;
            .button{
                width: 42%;
                color: #ffffff ;
                background-color: #00254a ;
                &:hover{
                    background-color: #3399ff ;
                }
            }
        }
    }

    .score-board {
        padding-top: 10px;

        .item {
            text-align: center;

        }
        .subheader {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.010em;
            line-height: 1.2em;
            padding: 18px 0;
        }
    }

}

