.rule-config {
    .subheader {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.010em;
        line-height: 1.2em;
        padding: 18px 0;
    }

    .rule-button{
        .button{
            width: 22%;
            color: #ffffff ;
            background-color: #00254a ;
            &:hover{
                background-color: #3399ff ;
            }
        }
    }

    .new-move{
        margin-bottom: 0px;
        padding-top: 9px;
        width: 60%;
    }

    .add-rule{
        text-align: right;
        width: 100%;
        .button{
            font-size: 1.4em;
            line-height: 1.5;
            padding-bottom: 6px;
        }
    }
}

.add-new-rule {
    padding: 23px 10px;
    .new-move{
        width: 60%;
    }
    .add-rule-button{
        .button{
            width: 22%;
            color: #ffffff ;
            background-color: #3c1033 ;
            &:hover{
                background-color: #886897 ;
            }
        }
    }
}