<section class="rule-config">
    <md-toolbar class="md-theme-light">
        <h3 class="md-toolbar-tools">
            Game Rules
        </h3>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item>
                <div flex class="item subheader">Move</div>
                <div flex class="item subheader">Kills</div>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item ng-repeat="rule in ruleConfigCtrl.ruleList track by $index">
                <div flex class="item">
                    <span>{{rule.move}}</span>
                </div>
                <div flex class="item">
                    <md-input-container class="moves-list">
                        <label>Moves</label>
                        <md-select ng-model="rule.kills">
                            <md-optgroup label="kills">
                                <md-option ng-value="move" ng-repeat="move in ruleConfigCtrl.movesList | filter : {$ : '!'+rule.move} track by $index">{{move}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="rule-button">
                    <md-button class="md-raised button" ng-click="ruleConfigCtrl.updateRule(rule._id, rule.kills)">Save</md-button>
                </div>
            </md-list-item>
            <md-list-item ng-show="!ruleConfigCtrl.addNewRule">
                <div class="add-rule">
                    <md-button class="md-fab md-mini button" ng-click="ruleConfigCtrl.addNewRule = !ruleConfigCtrl.addNewRule" aria-label="Add Rule">+</md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</section>
<section class="add-new-rule" ng-show="ruleConfigCtrl.addNewRule">
    <h1>Add New Rule</h1>
    <form name="ruleConfigCtrl.ruleForm" ng-submit="ruleConfigCtrl.addRule()" layout="row">
        <div flex>
            <md-input-container class="md-block new-move" flex>
                <label>New Move</label>
                <input name="newMove" required ng-model="ruleConfigCtrl.newRule.move">
                <div ng-messages="ruleConfigCtrl.ruleForm.newMove.$error">
                    <div ng-message="required">New move is required</div>
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container class="moves-list">
                <label>Kills</label>
                <md-select ng-model="ruleConfigCtrl.newRule.kills">
                    <md-optgroup label="kills">
                        <md-option ng-value="move" ng-repeat="move in ruleConfigCtrl.movesList track by $index">{{move}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <div class="add-rule-button">
            <md-button class="md-raised button" type="submit">Add Rule</md-button>
            <md-button class="md-raised button" ng-click="ruleConfigCtrl.addNewRule = !ruleConfigCtrl.addNewRule">Discard</md-button>
        </div> 
    </form>     
</section>
